button, .btn
	cursor: pointer
	transition: .4s
	border: 0
	padding: .5rem 1rem
	&:focus
		outline: 0

.btn-default
	background: none
	border: 1px solid $border
	color: $gray-light
	&:hover
		background-color: #fff
		border-color: $primary
		color: $primary

.btn-rounded
	border-radius: 100px
	padding: .25rem 1rem

.btn-group
	display: inline-block
	overflow: hidden
	+radius
	+shadow
	> button
		padding: .5rem 1rem
		color: $gray
		border: 0
		background-color: #fff
		&:first-child
			padding-left: 1.25rem
		&:last-child
			padding-right: 1.25rem
		&:hover
			color: $gray-dark
		&.active
			color: $primary