.box-fonts
	max-height: 40vh
	.list-langs
		display: grid
		grid-template-columns: repeat(2, 1fr)
		height: 40px
		overflow: hidden
		padding: 0 5%
		max-width: 500px
		margin: 0 auto
		button
			color: $gray
			padding: 0
			margin: 0 .5rem
			height: 40px
			font-size: 14px
			background-color: $light			
			transform: perspective(20px) rotateX(2deg)
			border: 1px solid $border
			border-bottom: 0
			border-radius: 4px 4px 0 0
			&:hover
				color: $primary
				background-color: #fff
				border-color: $primary
			&.active
				color: #fff
				background: linear-gradient(darken($primary, 20%), $primary)
				position: relative
				z-index: 1
				border-color: $primary
	.list-fonts
		background-color: $primary
		padding: 1rem 0 0

.list-button-fonts
	display: grid
	grid-template-columns: repeat(3, 1fr)
	border-top: 1px solid $border-white
	overflow: auto
	max-height: 30vh
	+sm
		grid-template-columns: repeat(5, 1fr)
		&.en
			grid-template-columns: repeat(3, 1fr)
	button
		border: 0
		padding: 0 1rem
		font-size: 12px
		height: 48px
		color: rgba(255,255,255,.8)
		background-color: transparent
		border-right: 1px solid $border-white
		border-bottom: 1px solid $border-white
		&:hover
			background-color: rgba(0,0,0,.05)
			color: rgba(255,255,255,.9)
		&.active
			background-color: rgba(0,0,0,.1)
			border-color: rgba(255,255,255,.4)
			color: #fff