.label-tip
	font-size: 12px
	color: $gray
	display: inline-block
	margin-bottom: 1rem
	background-color: $secondary
	padding: .25rem 1rem
	color: #fff
	position: relative
	+radius
	&:after
		content: ""
		display: block
		border-top: 6px solid $secondary
		border-right: 6px solid transparent
		border-left: 6px solid transparent
		position: absolute
		bottom: -6px
		left: 50%
		transform: translateX(-50%)

.jump
	animation: jump .7s ease-in infinite alternate

@-webkit-keyframes jump
	0%
		transform: translateY(0)
	100%
		transform: translateY(8px)

.shake
	animation: shake .7s ease-in infinite alternate

@-webkit-keyframes shake
	0%
		margin-left: 0
	100%
		margin-left: -8px


.notice
	&:before
		content: ""
		display: block
		position: fixed
		top: -1vh
		left: 0
		z-index: 9
		width: 100%
		height: 1px
		background-color: $primary
		transition: .4s ease-in
		visibility: hidden
	h5
		position: fixed
		top: 50%
		left: 0
		z-index: 10
		transform: translateY(-50%)
		width: 100%
		text-align: center
		color: #fff
		font-weight: normal
		font-size: 36px
		opacity: 0
		transition: .4s
		visibility: hidden
		margin: 0
	&.show
		&:before
			height: 101vh
			visibility: visible
		h5
			visibility: visible
			opacity: 1
