.demo
	font-size: 80px
	color: #000
	font-weight: normal
	text-align: center
	margin-bottom: 2rem
	border: 0
	background: none
	width: 100%
	resize: none
	&:focus
		outline: 0

.box-slider
	position: absolute
	right: 2rem
	top: 4rem
	transform: rotate(-90deg)
	transform-origin: right bottom

.slider
	-webkit-appearance: none
	width: 150px
	height: 1px
	background: $primary
	outline: 0	
	&::-webkit-slider-thumb
		-webkit-appearance: none
		width: 16px
		height: 16px
		background: $primary
		border-radius: 50%

.demoSizeText
	color: $primary
	font-size: 12px
	position: relative
	top: 3px
	left: 1rem
