=font($num, $type)
  @font-face
    font-family: '#{$num}'
    src: url('../fonts/#{$num}.#{$type}')

+font(f1, ttf)
+font(f2, ttf)
+font(f3, ttc)
+font(f4, ttc)
+font(f5, ttc)
+font(f6, ttc)
+font(f7, ttf)
+font(f8, ttc)
+font(f9, ttf)
+font(f10, ttf)
+font(f11, ttc)
+font(f12, ttc)
+font(f13, ttf)
+font(f14, ttf)
+font(f15, ttf)
+font(f16, ttf)
+font(f17, ttc)
+font(f18, ttf)
+font(f19, ttc)
+font(f20, ttf)

@for $i from 1 through 20
  .f#{$i}
    font-family: 'f#{$i}'

.e1
  font-family: 'Crimson Text'
.e2
  font-family: 'Pacifico'
.e3
  font-family: 'Varela Round'
.e4
  font-family: 'Gloria Hallelujah'
.e5
  font-family: 'Maven Pro'
.e6
  font-family: 'Dancing Script'
.e7
  font-family: 'Berkshire Swash'
.e8
  font-family: 'PT Sans'
.e9
  font-family: 'Courgette'
.e10
  font-family: 'Rock Salt'
.e11
  font-family: 'Alex Brush'
.e12
  font-family: 'Satisfy'