.header-main
	padding: .5rem 1rem
	.app-title
		font-weight: normal
		margin-left: .5rem
		.f10
			font-size: 40px
			font-style: normal
			color: $primary
		span
			font-size: 14px
			margin-left: 1rem
			color: $gray-light
			position: relative
			bottom: 7px
			+sm
				font-size: 18px
	.btn
		position: absolute
		right: 1rem
		top: 1rem