html, body, #root, .app
	height: 100%

body
	background-color: $light
	margin: 0
	padding: 0
	font-size: 12px
	color: $gray

h1
	margin: 0

a
	text-decoration: none
	color: $gray-dark

.app
	display: flex
	flex-direction: column

.main-main
	flex: 1 1 auto
	position: relative
	padding: 2rem 4rem 2rem 2rem

.container
	max-width: 600px
	margin-left: auto
	margin-right: auto

.text-center
	text-align: center
